<div>
    <table cellpadding="0" align="center"
        style="overflow:hidden;background:#fff;margin:0 auto;text-align:left;position:relative;font-size:14px; font-family:'lucida Grande',Verdana;line-height:1.5;box-shadow:0 0 3px #ccc;border:1px solid #ccc;border-radius:5px;border-collapse:collapse;">
        <tbody>
            <tr>
                <th valign="middle"
                    style="height:38px;color:#fff; font-size:14px;line-height:38px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #467ec3;background:#518bcb;border-radius:5px 5px 0 0;">
                    {{ website_name }}</th>
            </tr>
            <tr>
                <td>
                    <div style="padding:20px 35px 40px;">
                        <h2 style="font-weight:bold;margin-bottom:5px;font-size:14px;">Dear {{ name }},
                        </h2>
                        <p style="margin-top:20px">
                            {{captain_name}} has invited you to join team {{team_name}} to participate in TeamsCode contests.
                        </p>
                        <p style="margin-top:20px">
                            Here is the login credential for your team account on TeamsCode contest portal at <a href="{{website_link}}">{{website_link}}</a> (you will share this account with your teammates):
                        </p>
                        <p>
                            Username: <b>{{username}}</b><br>
                            Password: <b>{{password}}</b>
                        </p>
                        <p style="margin-top:20px">We will be sending emails to
                            cover details on how to access contests as the contest date approaches. Meanwhile, you can
                            use the practice contest to familiarize yourself with the contest website.</p>
                        <p style="margin-top:20px">
                            To update team profile, including team members, email, and password, please go to the
                            setting page by clicking on your username at the top-right corner.
                        </p>
                        <p style="margin-top:20px">
                            If you have any questions, please reply to this email or contact us at <a
                                href="mailto:contact@teamscode.org">contact@teamscode.org</a>.
                        </p>
                        <p style="margin-top:20px">
                            Best,
                        </p>
                        <p style="margin-left:2em;"></p>
                        <p style="text-indent:0;text-align:right;">TeamsCode</p>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>